LLM:
  client: ollama
  model: llama3.1:8b
  temperature: 0.0
  top_p: 1.0
  seed: 42


Encoder:
  model_name: dmis-lab/biobert-v1.1
  device: cuda

Create:
  Batch_size: 10
  Limit: 100
  Resume: False 

Insert:
  Batch_size: 1000
  Resume: False
